@using FollowUp.Models
@model ApplicationUser
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="br-pagetitle">
    <h3 class="text-info mr-3">إضافة مدرب جديد</h3>
</div><!-- d-flex -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-layout form-layout-4">
                    <form method="post" asp-action="Create" asp-controller="Trainer" enctype="multipart/form-data" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">اسم المدرب: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="UserFullName" type="text" class="form-control" placeholder="اسم المدرب" required>
                                <span class="text-danger" asp-validation-for="UserFullName"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">رقم الحاسب: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="UserName" type="number" class="form-control" placeholder="رقم الحاسب" required>
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">البريد الالكتروني: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="Email" type="email" class="form-control" placeholder="البريد الالكتروني" required>
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label"> رقم الجوال : <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="PhoneNumber" type="number" class="form-control" placeholder="رقم الجوال" required>
                                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">اسم القسم:<span class="tx-danger">*</span></label>
                            <select class="col-sm-7 form-control" required asp-for="DepartmentId">
                                <option value="">اختر القسم...</option>
                                @foreach (var user in ViewBag.Department)
                                {
                                    <option value="@user.Id">@user.Name</option>
                                }
                            </select>
                        </div><!-- row -->

                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">الصورة الشخصية: <span class="tx-danger"></span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="Image" type="file" class="form-control-image" accept="image/*">
                                <span class="text-danger" asp-validation-for="Image"></span>
                            </div>
                        </div><!-- row -->
            
                        <div class="form-layout-footer mg-t-30 text-center">
                            <input type="submit" value="إضافة" class="btn btn-info">
                            <a asp-action="Index" class="btn btn-secondary">الرجوع</a>
                        </div><!-- form-layout-footer -->
                    </form>
                </div><!-- form-layout -->
            </div>
        </div><!-- row -->
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script>

            window.onload = function () {
                var errorMessage = '@TempData["ErrorMessage"]';
                if (errorMessage) {
                    alert(errorMessage);
                }
            }
        </script>
    }
}

