@using FollowUp.Models
@model Course
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="br-pagetitle">
    <h3 class="text-info mr-3">إضافة مقرر جديدة</h3>
</div><!-- d-flex -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-layout form-layout-4">
                    <form method="post" asp-action="Create" asp-controller="Course" asp-route-returnurl="@ViewData["ReturnUrl"]">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">اسم المقرر: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="Name" type="text" class="form-control" placeholder="اسم المقرر" required>
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">كود المقرر: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="Coursecode" type="text" class="form-control" placeholder="كود المقرر" required>
                                <span class="text-danger" asp-validation-for="Coursecode"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">الرقم المرجعي: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="ReferenceNumber" type="text" class="form-control" placeholder="الرقم المرجعي" required>
                                <span class="text-danger" asp-validation-for="ReferenceNumber"></span>
                            </div>
                        </div><!-- row -->
                        <div class="row mb-3">
                            <label class="col-sm-4 form-control-label">جزء الفصل: <span class="tx-danger">*</span></label>
                            <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                                <input asp-for="ClassPart" type="text" class="form-control" placeholder="جزء الفصل" required>
                                <span class="text-danger" asp-validation-for="ClassPart"></span>
                            </div>
                        </div><!-- row -->

                        <div class="form-layout-footer mg-t-30 text-center">
                            <input type="submit" value="إضافة" class="btn btn-info">
                            <a asp-action="Index" class="btn btn-secondary">الرجوع</a>
                        </div><!-- form-layout-footer -->
                    </form>
                </div><!-- form-layout -->
            </div>
        </div><!-- row -->
    </div><!-- br-section-wrapper -->
</div><!-- br-pagebody -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}