@model FollowUp.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Trainee/Views/Shared/_Layout.cshtml";
}
<div class="br-pagetitle">
    <h3 class="text-info mr-3">تغيير كلمة المرور</h3>
</div><!-- d-flex -->
<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="row">
            <div class="col-md-6">
                <form id="changePasswordForm" method="post" asp-action="Password" asp-controller="Home" enctype="multipart/form-data">
                    <div style="margin-bottom: 10px;">
                        <label for="oldPassword" class="form-control-label text-dark font-weight-bold">كلمة المرور الحالية:</label>
                        <br>
                        <input type="password" id="oldPassword" class="form-control" name="oldPassword" style="padding: 6px; width: 100%; font-size: 12px;">
                        <span class="text-danger" id="oldPasswordError" style="font-size: 12px;"></span>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label for="newPassword" class="form-control-label text-dark font-weight-bold">كلمة المرور الجديدة:</label>
                        <br>
                        <input type="password" id="newPassword" class="form-control" name="newPassword" style="padding: 6px; width: 100%; font-size: 12px;">
                        <span class="text-danger" id="newPasswordError" style="font-size: 12px;"></span>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="submit" id="changePasswordButton" class="btn btn-primary ">تغيير كلمة المرور</button>

                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <img src="~/OIP.jpeg" alt="تغيير كلمة المرور" style="width: 100%; height: auto;">
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#changePasswordForm').submit(function (e) {
            var oldPassword = $('#oldPassword').val();
            var newPassword = $('#newPassword').val();

            if (oldPassword.trim() === '') {
                $('#oldPasswordError').text('الرجاء إدخال كلمة المرور الحالية.');
                e.preventDefault();
            }
            else if (Model.X == 1) {
                $('#oldPasswordError').text('كلمة المرور الحالية غير صحيحة.');
            }


            if (newPassword.trim() === '') {
                $('#newPasswordError').text('الرجاء إدخال كلمة المرور الجديدة.');
                e.preventDefault();
            } else if (newPassword.length < 6) {
                $('#newPasswordError').text('يجب أن تتكون كلمة المرور الجديدة من 6 أحرف على الأقل.');
                e.preventDefault();
            } else if (!/\d/.test(newPassword) || !/[a-z]/.test(newPassword) || !/[A-Z]/.test(newPassword)) {
                $('#newPasswordError').text('يجب أن تحتوي كلمة المرور الجديدة على علامات وأحرف كبيرة وصغيرة وأرقام.');
                e.preventDefault();
            } else {
                $('#newPasswordError').text('');
            }
        });
    });
</script>