
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Supervisor/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-table th, .custom-table td {
        text-align: center;
        vertical-align: middle;
    }

    .custom-table .section-title {
        background-color: #007b5e;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
    }

    .custom-table th {
        background-color: #28a745;
        color: white;
    }

    .custom-table td {
        background-color: #f8f9fa;
    }

    .student-info, .course-info {
        margin-bottom: 30px;
    }
</style>

<div class="br-pagetitle">
    <i class="icon fas fa-light fa-house"></i>
    <div>
        <h4>الرئيسية</h4>
        <p class="mg-b-0">نظام تقرير المتابعة</p>
    </div>
</div><!-- d-flex -->

<div class="br-pagebody">
    <div class="row row-sm">

        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Table">
                <div class="bg-success rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-chalkboard-teacher tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">الفترة الصباحية</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Tables</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Evening">
                <div class="bg-success rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-chalkboard-teacher tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">الفترة المسائية</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Evening</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->
        <div class="col-sm-4 col-xl-4 mb-3">
            <a asp-action="Index" asp-controller="Report">
                <div class="bg-success rounded overflow-hidden">
                    <div class="pd-x-20 pd-t-20 d-flex align-items-center">
                        <i class="fas fa-file-alt tx-60 lh-0 tx-white op-7"></i>
                        <div class="mg-r-20">
                            <p class="tx-20 tx-spacing-1 tx-mont tx-bold tx-uppercase tx-white-8 mg-b-10">التقارير</p>
                            <p class="tx-24 tx-white tx-lato tx-bold mg-b-0 lh-1">@ViewBag.Report</p>
                        </div>
                    </div>
                    <div id="ch2" class="ht-50 tr-y-1"></div>
                </div>
            </a>
        </div><!-- col-3 -->

    </div><!-- row -->
</div><!-- br-pagebody -->

@section scripts {
    <!-- BEGIN PAGE LEVEL SCRIPTS -->

    <link href="~/lib/toaster/toaster.css" rel="stylesheet" />
    <script src="~/lib/toaster/toaster.js"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
}
